
#header {
   /* height: 120px; */
   /* background: url('img/geothermalBanner.gif') no-repeat scroll left bottom;*/
}


#logo {
    color: #000000;
    float: left;
    height: 100px;
    margin-left: 5px;
    margin-top: 8px;
    position: absolute;
    width: 70px;
    z-index: 3;
    cursor: pointer;
}

body    {
    /*background: url('img/wig.gif') repeat-x scroll 0 150px #FFFFFF;*/
    height: 100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    width: 100%;
}

#container  {
    border: medium none; 
    margin: 0px auto; 
    padding: 0px; 
    width: 1024px; 
    height: 100%;
}

#innerContainer {
    width:1024px; 
    margin: 0 auto; 
    padding: 0; 
    overflow: auto; 
    background-color: #FFFFFF;
}

#menu {
    float:left;
    margin-top: 20px;
    margin-bottom: 60px;
    width:200px;
}

.activeMenuItem, .selectedMenuItem, .inactiveMenuItem   {
    color: #00386b;
    margin-top: 2px;
    margin-right: 3px;
    height: 22px;
    width:120px;
    display:inline-block;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:10px 6px 4px;
    text-decoration:none;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
}

.activeMenuItem {
    background-color:#BBBBBB;
    color:#fffaff;
    border: 2px solid #BBBBBB;
}

.selectedMenuItem   {
    background-color:#888888;
    font-weight:bold;
    color:#DDDDFF;
    border: 2px solid #DDDDFF;
}

.activeMenuItem a:link span, 
.selectedMenuItem a:link span,
.inactiveMenuItem a:link span   {
    height: 24px;
    display:inline-block;
    color:#fffaff;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:0px 6px 4px;
    text-decoration:none;
}

.selectedMenuItem a:link span {
    font-weight:bold;
}

.inactiveMenuItem a:link span {
    color:#9F9F9F;
}

.activeMenuItem a:visited span,
.selectedMenuItem a:visited span, 
.inactiveMenuItem a:visited span {
     color: #fffaff;
}

.inactiveMenuItem a:visited span {
    color:#9F9F9F;
}

.activeMenuItem:hover {
    background-color:#DDDDFF;
}

.inactiveMenuItem:hover {
    cursor: default;
}

.activeMenuItem:active,
.selectedMenuItem:active    {
    position:relative;
    top:1px;
}



.inactiveMenuItem   {
    background-color:#9c939c;
    color:#9F9F9F;
    cursor: default;
}


#content {
    position: relative;
    /*margin-left: 200px;*/
    overflow: hidden; 
    /*padding: 0px 0 20px 0; 
*/    /*background-color: #FFFFFF;*/
}

#footer {
   /* height: 28px; */
  
  
    overflow: hidden; 
    padding-left: 10px; 
    padding-top: 40px;
    background-color: #ffffff;
  
}

#footer a {
    color: black;
    display: block;
    text-decoration: none;
}

#footer span
{
  color: #1D9BAB;
}
#footer li {

     list-style-type: none;
     margin-left: -10px;
}

.footerPanel {
   overflow: hidden; 
   height: 25px; 
   width: 1024px;
}

.footerMenuItem    {
   height: 28px; 
   width: 236px; 
   overflow: hidden; 
   float: left; 
   padding-left: 0px; 
   padding-top: 5px;
}

.pageButton   {
    color: #00386b;
    margin-top: 2px;
    margin-right: 3px;
    height: 22px;
    width:120px;
    display:inline-block;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:10px 6px 4px;
    text-decoration:none;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
}

.pageButton {
    background-color:#BBBBBB;
    color:#fffaff;
    border: 2px solid #BBBBBB;
}

.pageButton:hover {
    background-color:#DDDDFF;
}








#bounds {
    margin:4px;	
    overflow:auto;
   float: left;
   padding:0px 5px 10px 5px;

}

#bounds label {
    
  -webkit-appearance: button;
	padding:0px 5px;
	float: left;
}

#bounds label span {
    /*text-align:center;*/
    padding:3px 0px;
    display:block;
	
}

#bounds label input {
    position:absolute;
    top:-20px;
}

#bounds input:checked + span 
{
    background-color:#404040;
    color:#F7F7F7;
}   

#constraint
{
float:left;

margin:4px;
padding:0px 5px;
}

#condition
{

float:left;

margin:4px;
padding:0px 5px;
}

.bodytype            
{ 
font-family: sans-serif; 
background-color:rgba(29,155,171,0.5);
margin: 0px 0px;
padding: 0px 15px; 
position: relative;

height: 100%;
}



.row-fluid .span6
{
  margin-left: 0;

}

.springDesc
{ 
background-color:rgba(29,155,171,0.5);
margin: 15px 0px;
padding: 10px 20px; 
}
    

.bodytype.span3
{
padding: 7px 12px; 

}


#map_canvas
{ 
    /*height: 200px;*/
    background-color: #CCC;
}

#show_map
{
    height: 400px;
    background-color: #CCC;

}

#show_map img
{
	max-width:none;
}

#images_full img,
#images_thumbnails img {
  padding:3px;
  border:1px solid #CCC;
}

#images_thumbnails img {
  margin:4px;
}


/*THE LOGIN PAGE*/
/* The white background content wrapper */
.container > .logincontent {
background-color: #fff;
padding: 20px;

-webkit-border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.container 
{
width:480px;
}



.login-form {
margin-left: 65px;
}

legend {
margin-right: -50px;
font-weight: bold;
color: #404040;
}

    /* Carousel base class */


.carousel-caption {
      background-color: rgba(29,155,171,0.75);
/*      top: 0;
left: 0;
width: 200px;
height: 100%;*/
    }

    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
        .carousel .item {
      height: 500px;
    }
    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

.carousel-indicators li {

  background-color: rgba(29,155,171,0.25);

}

.carousel-indicators .active {
  background-color: #fff;
    /*background-color: rgb(29,155,171);*/
}

.navbar
{
  margin-bottom: 0px;
  opacity: 0.8;

}

.navbar-inner {
  background-color: rgba(29,155,171,0.75);
  background-image: none;
    border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
 
}

.nav
{

}
.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 0 #777777;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
 color: #ffffff;
  text-decoration: none;
  background-color: #1D9BAB;
  text-shadow: 0 1px 0 #777777;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
}

.navbar .divider-vertical {
  border-right: 1px solid #1BADBF;

  border-left: 1px solid #1CA7B9;
}



.filterIcons img
{
  width:60px;
  opacity: 0.6;
}

p,a,span,th,h2,input,h5,h4,i
{
font-family: century gothic;
}

p,a,tr,input
{
  font-size: 14px;
}

th
{
 font-size: 16px;

}


.ui-widget-content{
 background-color:#ffffff;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#ffffff, endColorstr=#ffff00);
 background-image:-moz-linear-gradient(left, #ffffff 0%, #ffff00 50%,#ff0000 100%);
background-image:linear-gradient(left, #ffffff 0%, #ffff00 50%,#ff0000 100%);
background-image:-webkit-linear-gradient(left, #ffffff 0%, #ffff00 50%,#ff0000 100%);
background-image:-o-linear-gradient(left, #ffffff 0%, #ffff00 50%,#ff0000 100%);
background-image:-ms-linear-gradient(left, #ffffff 0%, #ffff00 50%,#ff0000 100%);
 background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#ffffff), color-stop(50%,#ffff00),color-stop(100%,#ff0000));}

.ui-widget-header
{
  
  background: rgba(125,125,125,0.8);
}


.menuItem
{

float:right;

margin:64px 10px 0 10px;

padding:5px 5px 0 5px;
border-top-right-radius: 10px;

border-top-left-radius: 10px;

}

.carousel
{
  margin-bottom: 0;
}

#social a
{

float:left;
padding: 0 5px;

}

#aboutText
{
  white-space: pre-line; 

  padding: 10px 20px;  
}


.accordion-heading
{
  background-color: rgb(29,155,171);
}

.accordion-heading a
{
  color: white;
  text-decoration: none;
}

/* Index */

.title #index
{
  height:125px;
  
}

/* Simple Search */

/* Browse by */

.browseby-caption
{
  height:40px;
  position:relative;
  background-color:rgb(29,155,171);
}

.browseby-caption h4
{
  margin: 0px;
  padding:8px 15px 0 15px;
  color:white;
}

/* Template */

.default-background
{
  background-color:rgba(29,155,171,0.75);
}

.to-front
{
  position:relative;
}

.contrast 
{
  color: #ffffff;
  text-decoration: none;   
}

.title
{
  position:relative;
  background-color:rgba(29,155,171,0.75);
  padding:25px 15px 15px 15px;
}

.title h2
{
  margin: 0px;
  color: white;
}


.contrast p
{
  font-size: 16px;
}

.divider
{
  height:15px;
  position:relative;
  background-color:white;
}