
#header {
   /* height: 120px; */
   /* background: url('img/geothermalBanner.gif') no-repeat scroll left bottom;*/
}

@font-face {
    font-family: 'questrialregular';
    src: url('fonts/questrial-regular-webfont.eot');
    src: url('fonts/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/questrial-regular-webfont.woff') format('woff'),
         url('fonts/questrial-regular-webfont.ttf') format('truetype'),
         url('fonts/questrial-regular-webfont.svg#questrialregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#logo {
    color: #000000;
    float: left;
    height: 100px;
    margin-left: 5px;
    margin-top: 8px;
    position: absolute;
    width: 70px;
    z-index: 3;
    cursor: pointer;
}

body    {
    /*background: url('img/wig.gif') repeat-x scroll 0 150px #FFFFFF;*/
    height: 100%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    width: 100%;
}

#container  {
    border: medium none; 
    margin: 0px auto; 
    padding: 0px; 
    width: 1024px; 
    height: 100%;
}

#innerContainer {
    width:1024px; 
    margin: 0 auto; 
    padding: 0; 
    overflow: auto; 
    background-color: #FFFFFF;
}

#menu {
    float:left;
    margin-top: 20px;
    margin-bottom: 60px;
    width:200px;
}

.activeMenuItem, .selectedMenuItem, .inactiveMenuItem   {
    color: #00386b;
    margin-top: 2px;
    margin-right: 3px;
    height: 22px;
    width:120px;
    display:inline-block;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:10px 6px 4px;
    text-decoration:none;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
}

.activeMenuItem {
    background-color:#BBBBBB;
    color:#fffaff;
    border: 2px solid #BBBBBB;
}

.selectedMenuItem   {
    background-color:#888888;
    font-weight:bold;
    color:#DDDDFF;
    border: 2px solid #DDDDFF;
}

.activeMenuItem a:link span, 
.selectedMenuItem a:link span,
.inactiveMenuItem a:link span   {
    height: 24px;
    display:inline-block;
    color:#fffaff;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:0px 6px 4px;
    text-decoration:none;
}

.selectedMenuItem a:link span {
    font-weight:bold;
}

.inactiveMenuItem a:link span {
    color:#9F9F9F;
}

.activeMenuItem a:visited span,
.selectedMenuItem a:visited span, 
.inactiveMenuItem a:visited span {
     color: #fffaff;
}

.inactiveMenuItem a:visited span {
    color:#9F9F9F;
}

.activeMenuItem:hover {
    background-color:#DDDDFF;
}

.inactiveMenuItem:hover {
    cursor: default;
}

.activeMenuItem:active,
.selectedMenuItem:active    {
    position:relative;
    top:1px;
}



.inactiveMenuItem   {
    background-color:#9c939c;
    color:#9F9F9F;
    cursor: default;
}


#content {
    position: relative;
    /*margin-left: 200px;*/
    overflow: hidden; 
    /*padding: 0px 0 20px 0; 
*/    /*background-color: #FFFFFF;*/
}

#footer {
   /* height: 28px; */
  
  
    overflow: hidden; 
    padding-left: 10px; 
    padding-top: 40px;
    background-color: #ffffff;
  
}

#footer a {
    color: black;
    display: block;
    text-decoration: none;
}

#footer span
{
  color: #1D9BAB;
}
#footer li {

     list-style-type: none;
     margin-left: -10px;
}

.footerPanel {
   overflow: hidden; 
   height: 25px; 
   width: 1024px;
}

.footerMenuItem    {
   height: 28px; 
   width: 236px; 
   overflow: hidden; 
   float: left; 
   padding-left: 0px; 
   padding-top: 5px;
}

.pageButton   {
    color: #00386b;
    margin-top: 2px;
    margin-right: 3px;
    height: 22px;
    width:120px;
    display:inline-block;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:10px 6px 4px;
    text-decoration:none;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
}

.pageButton {
    background-color:#BBBBBB;
    color:#fffaff;
    border: 2px solid #BBBBBB;
}

.pageButton:hover {
    background-color:#DDDDFF;
}








#bounds {
    margin:4px;	
    overflow:auto;
   float: left;
   padding:0px 5px 10px 5px;

}

#bounds label {
    
  -webkit-appearance: button;
	padding:0px 5px;
	float: left;
}

#bounds label span {
    /*text-align:center;*/
    padding:3px 0px;
    display:block;
	
}

#bounds label input {
    position:absolute;
    top:-20px;
}

#bounds input:checked + span 
{
    background-color:#404040;
    color:#F7F7F7;
}   

#constraint
{
float:left;

margin:4px;
padding:0px 5px;
}

#condition
{

float:left;

margin:4px;
padding:0px 5px;
}

.bodytype            
{ 

background-color:rgba(29,155,171,0.5);
margin: 0px 0px;
padding: 0px 15px; 


height: 100%;
}





.springDesc
{ 
background-color:rgba(29,155,171,0.5);

}
    

.bodytype.span3
{
padding: 7px 12px; 

}


.infoWindow h5
{
  margin-bottom: 0; 
}

#map_canvas
{ 
    /*height: 200px;*/
    background-color: #CCC;
}

#map_placeholder
{
   height: 400px;
   border: 1px solid black;
}

#show_map
{
    height: 250px;
    width:400px;
    margin-left:4px;
    background-color: #CCC;

}

#show_map img
{
	max-width:none;
}

#images_full img,
#images_thumbnails img {
  padding:3px;
  border:1px solid #CCC;
}

#images_thumbnails img {
  margin:4px;
}


/*THE LOGIN PAGE*/
/* The white background content wrapper */
.container > .logincontent {
background-color: #fff;
padding: 20px;

-webkit-border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.container 
{
width:480px;
}



.login-form {
margin-left: 65px;
}

legend {
margin-right: -50px;
font-weight: bold;
color: #404040;
}

    /* Carousel base class */

#myCarousel
{
  background-color: white;
}
.carousel-caption {
  background-color:#1D9BAB; /* IE */
      background-color: rgba(29,155,171,0.75);

/*      top: 0;
left: 0;
width: 200px;
height: 100%;*/
    }

    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
        .carousel .item {
      height: 500px;
    }
    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

.carousel-indicators li {

  background-color: rgba(29,155,171,0.25);

}

.carousel-indicators .active {
  background-color: #fff;
    /*background-color: rgb(29,155,171);*/
}

.navbar
{
  margin-bottom: 0px;
  opacity: 0.8;

}

.navbar-inner {
  background-color: rgba(29,155,171,0.75);
  background-image: none;
    border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
 
}

.nav
{

}
.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 0 #777777;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
 color: #ffffff;
  text-decoration: none;
  background-color: #1D9BAB;
  text-shadow: 0 1px 0 #777777;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
}

.navbar .divider-vertical {
  border-right: 1px solid #1BADBF;

  border-left: 1px solid #1CA7B9;
}



.filterIcons img
{
  width:60px;
  opacity: 0.6;
  float:left;
  margin: 0 3px;
}

.selected img
{
  opacity: 1;
}

.filterIcons label
{
  margin: 0;
}

.filterIcons input[type=radio]:checked
{
  width: 500px;
}

p,a,span,th,input,i,h2,h4,h5,div
{
font-family: 'questrialregular';
font-weight: 400;

}




th
{
 font-size: 16px;

}

/*Slider Customisation */
#tempSlider .ui-rangeSlider-container {
background-color:#ffffff;
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#ffffff, endColorstr=#ff0000);
background-image:-moz-linear-gradient(left, #ffffff 0%, #ffff00 50%,#ff0000 100%);
background-image:linear-gradient(left, #ffffff 0%, #ffff00 50%,#ff0000 100%);
background-image:-webkit-linear-gradient(left, #ffffff 0%, #ffff00 50%,#ff0000 100%);
background-image:-o-linear-gradient(left, #ffffff 0%, #ffff00 50%,#ff0000 100%);
background-image:-ms-linear-gradient(left, #ffffff 0%, #ffff00 50%,#ff0000 100%);
background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#ffffff), color-stop(50%,#ffff00),color-stop(100%,#ff0000));}

#tempSlider .ui-rangeSlider-bar
{  
  background: rgba(125,125,125,0.8);
}

.ui-accordion-header
{
  background:rgba(29,155,171,0.75);
  color: white;
  font-family: 'questrialregular';
}


.ui-rangeSlider-label,.ui-rangeSlider-arrow{
  background: white;
}

.ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner
{
  border-left:10px solid #1D9BAB;
}

.ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner
{
  border-right:10px solid #1D9BAB;
}

.ui-rangeSlider-label-inner
{
  border-top:10px solid white;
}


.ui-rangeSlider-label
{
  color:rgb(29,155,171);
}

.ui-rangeSlider
{
  margin-top:0px;
  margin-bottom: 10px;
}

/* end */

.menuItem
{
  float:right;
  margin:64px 10px 0 10px;
  padding:5px 5px 0 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.dropdown a
{
  text-decoration: none;
}

.caret
{
  border-top: 4px solid #1D9BAB;
}


.carousel
{
  margin-bottom: 0;
}

#social a
{

float:left;
padding: 0 5px;

}

label
{
  font-size: 16px;
  font-family: 'questrialregular';
}

#aboutText
{
  margin:0 0 20px 0;
  font-family: 'questrialregular';
  font-size: 16px;
  
}

#aboutText p
{
  margin: 20px 0;
}


.accordion-heading
{
  background-color: rgb(29,155,171);
}

.accordion-heading a
{
  color: white;
  text-decoration: none;
}

.tab-heading
{
  background-color: rgb(29,155,171);
}

.tab-heading a
{
  color: white;
  text-decoration: none;
}

.nav-tabs.otsTabs > li > a:hover {
	background-color: rgb(29,155,171);
}

.nav-tabs.otsTabs > li.active > a:hover {
	background-color: white;
}

/* Index */

.title #index
{
  height:125px;
}

#cat-images img
{
  width: 300px;
  height: 500px;
  float: left;
}


/* Simple Search */

.colourClick:active
{

  background-color: rgb(29,155,171);
  color:white;
}

.chosen-container
{
  display: block;
  color: black;
}

.district-tier 
{

}

.system-tier 
{
  padding-left: 25px;
}

.location-tier 
{
  padding-left: 50px;
}

.tiers
{
  color: black;
}


/* Browse by */

.browseby-caption
{
  height:40px;
  position:relative;
  background-color:rgb(29,155,171);
}

.browseby-caption h4
{
  margin: 0px;
  padding:8px 15px 0 15px;
  color:white;
}

#browseby 
{
  position:relative;
  background-color:white;
  text-decoration: none;

}

#browseby a
{

  text-decoration: none;

}


/* Simple Results */
#sidebar
{
 margin-left:0px;
 margin-right: 24px;
 padding-bottom: 15px;


}

#sidebar-contents{

  background-color:rgba(29,155,171,0.5);
margin: 0px 0px;
padding: 0px 11px; 


height: 100%;
}







/* Sample Site */

#sampleSiteImg
{
  margin-left:5px;
}

.unitText
{
  font-size: 10px;
  float: left;
}

.table td{
  padding-left: 15px;
}

.descTable
{
  margin-top: 35px;
  white-space:nowrap;
}

.descTable .progress
{
  width:50%;
  float:left;
  margin: 0 5px;
}

.progress p
{
  color: black;

}

.descTable td
{
  text-align: right;
  padding: 5px;

}

.descTable p
{
  margin-right:5px;
  margin-left: 5px;

}

.pagination
{
  margin:0px;
}

.progressAmount
{
  font-size: 14px;
}

#status
{
  overflow: visible;
}

.vis-heading
{
  text-align: center;
}


/* Template */

.textBlock
{
 margin:0 0 20px 0;
  font-family: 'questrialregular';
  font-size: 16px;
}

.textBlock p
{
  margin: 20px 0;
}


.article h4:first-child
{
  background-color:rgb(29,155,171);
  padding:10px;
  margin:0;
  margin-bottom:5px;
  border-radius:10px;
  font-weight:bold;
  color: white;
}


.element-background
{
    background-color:rgb(29,155,171);
  padding:10px;
  border-radius:10px
}

.row-fluid
{
  position: relative;
}

.default-background
{
  background-color:rgba(29,155,171,0.75);
}

.background
{
  position: relative;
  background-color: white;
}

.opaque 
{
  background-color:#1D9BAB; 
  background-color:rgba(29,155,171,0.5);
  position: relative;
}

.contrast 
{
  color: #ffffff;
  text-decoration: none;   
}

.title
{
  position:relative;
  background-color:#1D9BAB; /* IE */
  background-color:rgba(29,155,171,0.5);
  padding:25px 15px 15px 15px;


}

.title h2
{
  margin: 0px;
  color: white;
}


.contrast p
{
  font-size: 16px;
}

.divider
{
  height:15px;
  position:relative;
  background-color:white;
}

.smallIcons img
{
  float:right; 
  margin:0 2px; 
  width:14px;
  height:14px;
}

.mediumIcons img
{
  float:right; 
  margin:0 2px; 
  width:42px;
  height:42px;
}

input[type=radio]
{
  
display: none;

}

.textBlock
{
  font-size: 16px;
}

.zoom-in
{
  cursor:-webkit-zoom-in;
  cursor:-moz-zoom-in;
}

figure
{
  border: 1px solid black;
  border-radius: 10px;
  margin: 0px;
  padding: 10px;
  margin-bottom: 5px;
}

figure img
{
margin-left: auto;
margin-right: auto;
display: block;
margin-bottom: 5px;
}


figcaption
{
  color:white;
  text-align:center;
  background-color:rgb(29,155,171);
  border-radius: 5px;
}

figcaption a
{
   color:white;
   
}



/* our science */

.textBlock h4
{
  font-weight: 800;
}

div.subHeading
{
  marging:20px 0;
}

h4.subHeading
{
  display: inline;
background-color: #1D9BAB;
color: white;
padding: 5px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.textBlock img
{
  margin-bottom: 20px;
}

.textBlock img.floaterL
{
  float:left;
  margin: 10px 35px 10px 0px;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;


}

.textBlock img.floaterR
{
    float:right;
  margin: 10px 0px 10px 35px;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.textBlock li
{
  padding: 5px;
}

/* dataoverview */

.data_point .heading
{
  background-color: rgb(29,155,171);
  color: white;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding:5px;
  text-align: center;
  margin-bottom: 0
}

.data_point .values p
{
  
  text-align:  center;
  border: 1px solid black;
 
  
}

.data_point .Min
{
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    display: block;
    float: left;
    width: 50%;
    -webkit-border-bottom-left-radius: 5px;  
    -moz-border-radius-bottomleft: 5px; 
    border-bottom-left-radius: 5px;
}

.data_point .Max
{
   box-sizing: border-box;
   -moz-box-sizing:border-box;
    display: block;
    float: right;
    width: 50%;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

.tourismPartner
{
margin: 10px 0;
padding: 5px 0;
border-bottom: 1px solid black;
}

.tourismPartner .org
{
  font-weight: bold;
}



img.tourismLogo
{
  float:right; 
  margin-right:4px;
  height:80px;
}




/* Field and Lab Processing */


table#field_lab_table
{
  margin: 10px 0;
}

table#field_lab_table td {
border: 1px solid black;
padding: 0 10px 0 10px;
}

td.field_lab_heading {
background-color: rgb(29,155,171);
color: white;
}


/* our team */

.memberPhoto
{
  height: 180px;
  margin: 5px 0;
}

div.memberInfo
{
  height: 180px;
  margin: 10px 0;
}

#fieldNotesList
{
  list-style-type: none;
}

#hukaLogo
{
width: 200px;
margin-top: -17px;
height: 100px;
}