/*Zoomable Bubble Chart*/

text {
  font-size: 11px;
  pointer-events: none;
}

text.parent {
  fill: #1f77b4;
}

circle.bubbleVis {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.bubbleVis.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent.bubbleVis:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child.bubbleVis {
  pointer-events: none;
}