<div id="sunburstWrapper" style="width: 1000px; height: 700px">
	<div id="sunburstInfoPanel"
		style="float: left; padding: 10px 10px 10px 0; height: 850px; width: 280px; margin-right: 20px;">
		<div class="diversityHelpText" style="width: 270px; margin-bottom: 30px;">
			<figure>
				<p>
					<strong>Instructions: </strong>This pie chart visualises the relative abundance of 
					all of the microbial groupings detected  in this sample according to their taxonomic ranking.
				<p>
				<p>
					Hold your mouse pointer over individual pie wedges to display the taxonomic hierarchy. 
					The relative abundance (in percentage) of the associated taxonomic level is displayed in 
					the centre of the pie along with the taxonomic name. The taxonomic rank is displayed below 
					in the coloured table.
				</p>
				<p>
					Where wedges are presented, we have confidence (based on a statistical measure) of 
					the taxonomic assignment. Where that confidence measure falls below a certain threshold, 
					we make no further taxonomic assignments (see <a href="/ourscience">Our Science</a> for more details 
					about our processes).
				</p>
			</figure>
		</div>
		<div id="sunburstSequence" style="margin-top: 10px"></div>
	</div>
	<div id="sunburstChart">
		<div id="sunburstExplanation" style="visibility: hidden;">
			<span id="sunburstPercentage"></span><br /> of the microbial community in this sample belong to the
			<span id="sunburstTaxa"></span> <span id="sunburstName" style="font-weight: bold;"></span> 
			 
		</div>
	</div>
</div>