<div id="sunburstWrapper" style="width: 1000px; height: 700px">
	<div id="sunburstInfoPanel"
		style="float: left; padding: 10px 10px 10px 0; height: 850px; width: 280px; margin-right: 20px;">
		<div class="diversityHelpText" style="width: 270px; margin-bottom: 30px">
			<figure>
				<p>
					<strong>Instructions: </strong>Hold your mouse pointer
					over a segment to display the taxonomic hierarchy 
					for microorganisms represented by that segment, and
					the relative abundance of those microorganisms.
				<p>
				<p>This microbial diversity chart shows the relative abundance of
				   microorganisms found in the latest sample from this location. Each
				   segment represents a taxonomic unit, and the segment size reflects
				   the relative abundance of microorganisms belonging to that
				   taxonomic unit.</p>
			</figure>
		</div>
		<div id="sunburstSequence" style="margin-top: 10px"></div>
	</div>
	<div id="sunburstChart">
		<div id="sunburstExplanation" style="visibility: hidden;">
			<span id="sunburstPercentage"></span><br /> of life in samples from
			this location belong to the <span id="sunburstTaxa"></span> <span
				id="sunburstName" style="font-weight: bold;"></span>
		</div>
	</div>
</div>