{% extends "layout.html" %}
{% block title %}About Project	{% endblock %}
{% block head %}
  {{ super() }}

  <script type="text/javascript">



 $(function () 
 {
    MenuSelect("#about","{{ url_for('static', filename='img/icons/about_Selected.png') }}");
 });
  </script>

{% endblock %}
{% block content %}

<div class="title">	
	<h2> about </h2>
</div>

<div class="divider"></div>

<div id="mainContent" style="position: relative; background-color: white;">
	<ul id="tabBar" class="nav nav-tabs tab-heading otsTabs" data-tabs="tabs">
		<li class="active"><a href="#aboutTab" data-toggle="tab">About</a></li>
		<li><a href="#teamTab" data-toggle="tab">Our Team</a></li>
		<li><a href="#tourismTab" data-toggle="tab">Tourism Partners</a></li>	
	</ul>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#tabBar').tab();		
		});

	</script>

	<div id="test" class="tab-content">
		<div id="aboutTab" class="tab-pane active">
			<div class="row-fluid" style="position:relative;background:#ffffff">
				<div id="aboutText" style="padding: 10px 20px;">
					<div>
						<p>The primary goal of the research project is to collate the physical, chemical, and microbial biodiversity information from 1,000 geothermal ecosystems from the Taupo Volcanic Zone (TVZ). While geothermal ecosystems are understood to be hotspots for unique and diverse microbial populations, we currently know very little about what microbial populations are resident in these environments. </p>

						<p>The research  will provide a means to assess the conservation, cultural, recreational and resource development value of the microbial component of geothermal ecosystems, and will underpin future microbial ecology research, conservation and biodiscovery.</p>
							<div style="border:1px gray solid;float:right;margin:10px 0 10px 20px" >
								<h4 style="text-align:center;background-color:rgb(29,155,171);color:white">Map of geothermal systems <br>in the Taupo Volcanic Zone</h4>
								<img src="{{ url_for('static', filename='img/about/TVZ_hotspots_map_small.jpg') }}">		
							</div>			
						<strong>Research aims: </strong>						
						<ol>
							<li>Microbial and physicochemical diversity of geothermal features assessment: The microbial diversity, and associated physicochemical conditions will be determined for 1,000 geothermal features in the TVZ, and the total genetic content of each sampled microbial ecosystem will be extracted;</li>
							<li> Archiving microbial diversity and genetic potential: DNA from 1,000 geothermal ecosystems will be archived for long-term access at GNS Science and the University of Waikato; and </li>
							<li> Environmental indicator (‘uniqueness’ metric prediction): The microbial and physicochemical diversity data will be assessed via a set of criteria that ranks ecosystem ‘uniqueness’. </li>
						</ol>	

						<p>Outputs include a publicly accessible online database of the microbial and geochemical diversity; a genetic archive of the total environmental DNA; and development of a ‘uniqueness’ metric tool for interpreting the data. </p>

						<p>The knowledge generated pertains to natural resources that (i) landowners and/or Māori may wish to sustainably develop and/or protect, (ii) companies might wish to utilise (e.g. energy, power, biotechnology, tourism), (iii) central and regional government agencies are charged with managing and conserving (e.g. DOC, EPA, MPI, regional councils), and (iv) the scientific community seeks to understand. </p>

						<p>This research is being jointly undertaken by GNS Science &amp; the University of Waikato, with funding support from the Ministry of Business, Innovation and Employment (MBIE).</p>
						

						<a href="{{ url_for('static', filename='documents/1000SpringsFlyer_toWeb.pdf')}}"> Download our brochure here </a>
					</div>
				</div>					
				<div style="border:1px gray solid;float:right;margin:10px 20px 10px 20px" >
					<h4 style="text-align:center;background-color:rgb(29,155,171);color:white">Waiotapu</h4>
					<img src="{{ url_for('static', filename='img/about/about_spring_small.jpg') }}" >		
				</div>
				<div id="contact-details">
					<div  style="padding: 10px 20px;">
						<div style="font-size:16px;">
							<p>Please contact us if you have any queries about this data</p>
							<div style="float:left">
								
								<p><strong>Contact details:</strong></p>
								<p style="float:left">Matthew Stott (GNS Science): <a href="mailto:m.stott@gns.cri.nz">m.stott@gns.cri.nz</a></p>				
							</div>
							<img src="{{url_for('static', filename='img/logos/gns.gif')}}" style="height:103px;margin:5px 0 0 65px;clear:right">
						</div>
						
						<div style="font-size:16px; margin-top: 15px;">
								<p style="float:left">Craig Cary (University of Waikato): <a href="mailto:caryc@waikato.ac.nz">caryc@waikato.ac.nz</a></p>
								<img src="{{url_for('static', filename='img/logos/waikatouni.gif')}}" style="margin:5px 0">
							
						</div>
					</div>

				</div>					
			</div>

		</div>		
		<div id="teamTab" class="tab-pane">




				<div>
					<h2>Personnel involved in the 1000 Springs Project</h2>	

									<div class="row-fluid">
					<div class="span3">
						<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/mathew_button_tiny.jpg')}}" >						
					</div>
					<div class="span6">
						<div class="memberInfo">
							<strong>Mathew Button  <br></strong>
							Push Button Developments <br>
							Programmer, Applications Support.  <br>
							Email: mathewdbutton&#64;gmail.com <br>
							Role: Website and database development <br>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span3">
						<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/missing.jpg')}}">					
					</div>
					<div class="span6">
						<div class="memberInfo">
						<strong>Craig Cary  <br></strong>
						University of Waikato - Thermophile Research Unit <br>
						Professor, Director DNA Sequencing &amp; ERI Theme Leader <br>
						Email: caryc&#64;waikato.ac.nz <br>
						Web: <a href="http://sci.waikato.ac.nz/about-us/people/caryc">http://sci.waikato.ac.nz/about-us/people/caryc</a> <br>
						Roles: Co-PI, ecology, bioinformatics and sequencing <br>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span3">
						<img class="memberPhoto" style="padding-left:55px;" src="{{url_for('static',filename='img/about/ourteam/melissa_climo_tiny.jpg')}}" >					
					</div>
					<div class="span6">
						<div class="memberInfo">
							<strong>Melissa Climo<br></strong>
							GNS Science - Geothermal Resources  <br>
							Research Coordinator. <br>
							Email: m.climo&#64;gns.cri.nz<br>
							Roles: Management, outreach, grant writing and herding cats.<br>
						</div>		
					</div>
				</div>

				<div class="row-fluid">
					<div class="span3">
						<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/dave_evans_tiny.jpg')}}" >
					</div>
					<div class="span6">
						<div class="memberInfo">
							<strong>Dave Evans  <br></strong>
							GNS Science - Extremophiles Research Group <br>
							Field Staff. <br> 
							Email: D.evans&#64;gns.cri.nz <br>
							Web: <a href="http://www.gns.cri.nz/extremophiles">http://www.gns.cri.nz/extremophiles</a><br>
							Roles: Field sampling and sample processing. <br>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span3">
						<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/missing.jpg')}}">
					</div>
					<div class="span6">
						<div class="memberInfo">
							<strong>Annika Hinze <br></strong>
							University of Waikato - Computer Science <br>
							Lecturer, Information Systems and Databases.  <br>
							Email: hinze&#64;cs.waikato.ac.nz <br>
							Web: <a href="http://www.waikato.ac.nz/research/expertise/staff/AnnikaHinze.shtml">http://www.waikato.ac.nz/research/expertise/staff/AnnikaHinze.shtml</a> <br>
							Roles: Applications development, product development and database design <br>
						</div>
					</div>
				</div>				

				<div class="row-fluid">
					<div class="span3">
						<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/charles_lee_tiny.jpg')}}">
					</div>
					<div class="span6">
						<div class="memberInfo">
							<strong>Charlie Lee <br></strong>
							University of Waikato - Thermophiles Research Group <br>
							Research Fellow. Bioinformatics and microbial ecology.  <br>
							Email: cklee&#64; Waikato.ac.nz,  <br>
							Web: <a href="http://sci.waikato.ac.nz/about-us/people/cklee">http://sci.waikato.ac.nz/about-us/people/cklee</a> <br>
							Roles: Bioinformatics, sequencing and ecology <br>
						</div>
					</div>
				</div>				

				<div class="row-fluid">
					<div class="span3">
					<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/ian_mcdonald_tiny.jpg')}}" >
					</div>
					<div class="span6">
						<div class="memberInfo">
							<strong>Ian McDonald <br></strong>
							University of Waikato - Thermophile Research Unit <br>
							Associate Professor, Microbiology and Molecular Biology <br>
							Email: irmcdon&#64;waikato.ac.nz <br>
							Web: <a href="http://sci.waikato.ac.nz/about-us/people/irmcdon">http://sci.waikato.ac.nz/about-us/people/irmcdon</a><br>
							Roles: Phylogenetics, bioinformatics, sequencing and ecology<br>
						</div>
					</div>
				</div>	

				<div class="row-fluid">
					<div class="span3">
					<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/jean_power_2_tiny.jpg')}}" >
					</div>
					<div class="span6">
						<div class="memberInfo">
							<strong>Jean Power <br></strong>
							GNS Science - Extremophiles Research Group<br>
							Senior Technician &amp; doctoral candidate (part-time) <br>
							Email: j.power&#64;gns.cri.nz<br>
							Web: <a href="http://www.gns.cri.nz/extremophiles">http://www.gns.cri.nz/extremophiles</a><br>
							Roles: Sampling co-ordination, sampling and sample processing, geochemistry, ecology, everything.<br>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span3">
						<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/matthew_stott_2_tiny.jpg')}}" >
					</div>
					<div class="span6">
						<div class="memberInfo">
							<strong>Matthew Stott<br></strong>
							GNS Science - Extremophiles Research Group<br>
							Senior Scientist, microbiology &amp; microbial ecology<br>
							Email:  <a href="mailto:m.stott@gns.cri.nz">m.stott&#64;gns.cri.nz</a> <br>
							Web: <a href="http://www.gns.cri.nz/extremophiles">http://www.gns.cri.nz/extremophiles</a><br>
							Role: Co-PI, sampling, geochemistry, ecology, Jack-of-all-trades, Master-of -none.<br>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span3">
						<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/georgia_wakerly_tiny_2.jpg')}}" >
					</div>
					<div class="span6">
						<div class="memberInfo">
							<strong>Georgia Wakerley<br></strong>
							University of Waikato - Thermophile Research Unit<br>
							Laboratory Technician<br>
							Email: georgiaw&#64;waikato.ac.nz<br>
							Roles: DNA extraction and sequencing, Ninja<br>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span3">
						<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/duncan_white_tiny.jpg')}}" >		
					</div>
					<div class="span6">
						<div class="memberInfo">
							<strong>Duncan White <br></strong>
							GNS Science - Applications Group <br>
							Analyst Programmer<br>
							Email: D.white&#64;gns.cri.nz<br>
							Roles: Android and website development, pixel fiddling, general MacGyvering.<br>
						</div>	
					</div>
				</div>
					
				</div>




				<div>
					<h3>People that have assisted with this project:</h3>
				
					<div class="row-fluid">
						<div class="span3">
							<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/carlo_carere_tiny.jpg')}}" >
						</div>

						<div class="span6">
							<div class="memberInfo">
								<strong>Carlo Carere <br></strong>
							</div>
						</div>

					</div>
					<div class="row-fluid">
						<div class="span3">
							<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/karen_houghton_tiny.jpg')}}" >
						</div>

						<div class="span6">
							<div class="memberInfo">
								<strong>Karen Houghton <br></strong>
							</div>
						</div>

					</div>
					<div class="row-fluid">
						<div class="span3">
							<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/kevin_lee_tiny.jpg')}}" >
						</div>

						<div class="span6">
							<div class="memberInfo">
								<strong>Kevin Lee <br></strong>
							</div>
						</div>

					</div>
					<div class="row-fluid">
						<div class="span3">
							<img class="memberPhoto" src="{{url_for('static',filename='img/about/ourteam/microbiology_tiny.jpg')}}" >
						</div>

						<div class="span6">
							<div class="memberInfo">
								<strong>Microbiology in Extreme Environments <br></strong>
							</div>
						</div>

					</div>	
					
				</div>

				

				
		</div>
		<div id="tourismTab" class="tab-pane">

			
				<div class="row-fluid">
					<div class="span3"></div>
					<div class="span6">
					
					<h3>Rotorua</h3>
					
					<div class="tourismPartner">
						<div class="vcard">
							<a class="url fn" href="http://www.hellsgate.co.nz/">
						  <img src="{{url_for('static',filename='img/about/tourismpartners/hellsgate.jpg')}}" alt="photo" class="tourismLogo"/>
						 <div class="org">Hell’s Gate - Tikitere </div>
						  </a>
						 <div class="adr">
						  <div class="street-address"><a href="https://goo.gl/maps/rVUGg">State Highway 30, Tikitere</a></div>
						  <span class="locality"> Rotorua</span>	
						 </div>
						 <div class="tel">+64 7 345 3151</div>
						</div>
					</div>

					<div class="tourismPartner">			
						<div class="vcard">
							  <a class="url fn" href="http://www.tepuia.com/">

							<img src="{{url_for('static',filename='img/about/tourismpartners/te_puia.jpg')}}" alt="photo" class="tourismLogo"/>

							<div class="org">Te Puia (Te Whakarewarewa Valley)</div>

							</a>
							 <div class="adr">
							  <div class="street-address"><a href="https://goo.gl/maps/zSDOD">Te Puia, Hemo Rd</a></div>
							  <span class="locality">Rotorua</span>
							 </div>
							 <div class="tel">+64 7 348 9047</div>
							</div>
						</div>

					<div class="tourismPartner">
						<div class="vcard">
							<a class="url fn" href="http://www.hotpools.co.nz/">

							<img src="{{url_for('static',filename='img/about/tourismpartners/waikite_valley_thermal_pools.jpg')}}" alt="photo" class="tourismLogo"/>

							<div class="org">Waikite Valley Thermal Pools</div>

							</a>
							<div class="adr">
								<div class="street-address"><a href="https://goo.gl/maps/34VTi">Waikite Valley Road </a></div>
								<span class="locality">Rotorua</span>
							</div>
							<div class="tel">+64 7 333 1861</div>
						</div>
					</div>

					<div class="tourismPartner">
						<div class="vcard">
								<a class="url fn" href="http://www.waimangu.co.nz/">

							<img src="{{url_for('static',filename='img/about/tourismpartners/waimangu.jpg')}}" alt="photo" class="tourismLogo"/>

							<div class="org">Waimangu Volcanic Valley</div>

							</a>
								<div class="adr">
									<div class="street-address"><a href="https://goo.gl/maps/ojw77">Waikite Valley Road (off SH5)</a></div>
									<span class="locality">Rotorua</span>
								</div>
								<div class="tel">+64 (7) 366 6137</div>
						</div>	
					</div>

					<div class="tourismPartner">
						<div class="vcard">
							<a class="url fn" href="http://waiotapu.co.nz/">

							<img src="{{url_for('static',filename='img/about/tourismpartners/waiotapu_thermal_wonderland.jpg')}}" alt="photo" class="tourismLogo"/>

							<div class="org">Waiotapu Thermal Wonderland</div>

							</a>
							<div class="adr">
								<div class="street-address"><a href="https://goo.gl/maps/JJlWB">201 Waiotapu Loop Road RD 3</a></div>
								<span class="locality">Rotorua</span>
							</div>
							<div class="tel">+64 7 366 6333</div>
						</div>					
					</div>

					<div class="tourismPartner">
						<div class="vcard">
							<a class="url fn" href="http://www.whakarewarewa.com/">

							<img src="{{url_for('static',filename='img/about/tourismpartners/whakarewarewa.jpg')}}" alt="photo" class="tourismLogo"/>

							<div class="org">Whakarewarewa Village</div>

							</a>
							<div class="adr">
								<div class="street-address"><a href="https://goo.gl/maps/wqHzC">17 Tryon Street, Whakarewarewa Village</a></div>
								<span class="locality">Rotorua</span>
							</div>
							<div class="tel">+64 7 349 3463</div>
						</div>
					</div>
					
					
					

					<h3>Taupo</h3>
					<div class="tourismPartner">
					<div class="vcard">

							<a class="url fn" href="http://www.hukaprawnpark.co.nz/">

							<img id="hukaLogo" src="{{url_for('static',filename='img/about/tourismpartners/huka_prawn_park.jpg')}}" alt="photo" class="tourismLogo"/>
						

							<div class="org">Huka Prawn Park</div>

							</a>
							<div class="adr">
								<div class="street-address"><a href="https://goo.gl/maps/XBDNt">Karetoto Road, Wairakei Tourist Park, SH1</a></div>
								<span class="locality">Taupo</span>
							</div>
							<div class="tel">+64 7 374 8474</div>
						</div>			


					</div>


				

					<div class="tourismPartner">
						<div class="vcard">
							<a class="url fn" href="http://www.orakeikorako.co.nz/">

							<img src="{{url_for('static',filename='img/about/tourismpartners/orakei_korako.jpg')}}" alt="photo" class="tourismLogo"/>

							<div class="org">Orakei Korako Geothermal Park and Cave</div>

							</a>
							<div class="adr">
								<div class="street-address"><a href="https://goo.gl/maps/Z0rvQ">494 Orakeikorako Road, Reporoa</a></div>
								<span class="locality">Taupo</span>
							</div>
							<div class="tel">+64 (0) 7 378 3131</div>
						</div>					
					</div>



					<div class="tourismPartner">
						<div class="vcard">
							<a class="url fn" href="http://www.wairakeiterraces.co.nz/">

							<img src="{{url_for('static',filename='img/about/tourismpartners/wairakei_terraces.jpg')}}" alt="photo" class="tourismLogo"/>

							<div class="org">Wairakei Terraces</div>

							</a>
							<div class="adr">
								<div class="street-address"><a href="https://goo.gl/maps/gZAB8">Wairakei Rd, SH1&amp;5, Wairakei</a></div>
								<span class="locality">Taupo</span>
							</div>
							<div class="tel">+64 7 3780913</div>
						</div>			
					</div>

					<h3>Turangi</h3>
					<div class="tourismPartner">	

					<div class="vcard">
							<a class="url fn" href="http://www.greatlaketaupo.com/new-zealand/product/?product=tokaanu-thermal-pools">

							<img src="{{url_for('static',filename='img/about/tourismpartners/tokaanu_thermal_pools.jpg')}}" alt="photo" class="tourismLogo"/>

							<div class="org">Tokaanu Thermal Walk and Pools</div>

							</a>
							<div class="adr">
								<div class="street-address"><a href="https://goo.gl/maps/Uz2yt">Mangaroa St, Tokaanu</a></div>
								<span class="locality">Turangi</span>
							</div>
							<div class="tel">+64 7 386 8575</div>
						</div>
					</div>		
					
				</div>		
				</div>	
		</div>

	</div>
</div>


<div class="divider"></div>

</div>


{% endblock %}
