{% extends "layout.html" %}
{% block title %}About Project	{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}

<div class="contrast" style="height:73px;position:relative;background-color:rgba(29,155,171,0.75);">
	<h2 style="margin:0; padding:10px 10px"> About </h2>
</div>
<div style="position:relative;background:#ffffff">
	<div id="aboutText" >"The primary goal of the research project is to collate the physical, chemical, and microbial biodiversity information from 1,000 geothermal ecosystems from the Taupo Volcanic Zone (TVZ). While geothermal ecosystems are understood to be hotspots for unique and diverse microbial populations, we currently know very little about what microbial populations resident in these environments. 

		The research  will provide a means to assess the conservation, cultural, recreational and resource development value of the microbial component of geothermal ecosystems, and will underpin future microbial ecology research, conservation and biodiscovery. 
		TVZ hotspots map 
		
		Research aims: 

		1. Microbial and physicochemical diversity of geothermal features assessment: The microbial diversity, and associated physicochemical conditions will be determined for 1,000 geothermal features in the TVZ, and the total genetic content of each sampled microbial ecosystem will be extracted; 

		2. Archiving microbial diversity and genetic potential: DNA from 1,000 geothermal ecosystems will be archived for long-term access at GNS Science and the University of Waikato; and 

		3. Environmental indicator (‘uniqueness’ metric prediction): The microbial and physicochemical diversity data will be assessed via a set of criteria that ranks ecosystem ‘uniqueness’. 

		Outputs include a publicly accessible online database of the microbial and geochemical diversity; a genetic archive of the total environmental DNA; and development of a ‘uniqueness’ metric tool for interpreting the data. 

		The knowledge generated pertains to natural resources that (i) landowners and/or Māori may wish to sustainably develop and/or protect, (ii) companies might wish to utilise (e.g. energy, power, biotechnology, tourism), (iii) central and regional government agencies are charged with managing and conserving (e.g. DOC, EPA, MPI, regional councils), and (iv) the scientific community seeks to understand. 

		This research is being jointly undertaken by GNS Science & the University of Waikato, with funding support from the Ministry of Building Innovation and Employment (MBIE), 

		Contact details:
		Matthew Stott (GNS Science): mstott@1000springs.co.nz
		Craig Cary (University of Waikato): ccary@1000springs.co.nz		
	</div>
<div>

	<div style="height:73px;position:relative;background-color:rgba(29,155,171,0.75);">

</div>

{% endblock %}