{% extends "layout.html" %}
{% block title %}Browse By{% endblock %}
{% block head %}
  {{ super() }}

  <script type="text/javascript">



 $(function () {
	  $("#browse").css("background-color" , "rgba(29,155,171,0.75)");
	  $("#browse img").attr("src","{{ url_for('static', filename='img/icons/browse_Selected.png') }}");
	  $("#browse p").css("color","#ffffff");
	//  $("#browse").css("background-color" , "rgba(29,155,171,0.75)");
	// var awesome = "url_for('static',filename='img/icons/browse_Selected.png') ";
	// $("#browse"+" img").attr("src",awesome);
	// $("#browse"+" p").css("color","#ffffff");
	// console.log(awesome);
	// menuItem("#browse" , "browse_Selected.png");
});
  </script>

  {% endblock %}
{% block content %}

	<div class="title" >
		<h2> browse by </h2>	
	</div>
<div id="browseby" style="position:relative;background-color:white;">	
	<div>

		<div class="divider"></div>
		<div>
			<a href="{{url_for('mapsearch')}}" style="text-decoration:none">
				<img src="{{ url_for('static', filename='img/browseby/browsebylocation.png') }}">
				<div class="browseby-caption">
					<h4> Location </h4>	
				</div>
			</a>
		</div>
		<div class="divider"></div>
		<div>
			<a href="{{url_for('searchbyimage')}}" style="text-decoration:none">
				<img src="{{ url_for('static', filename='img/browseby/browsebyimage.png') }}">
				<div class="browseby-caption">
					<h4> Image </h4>	
				</div>
			</a>
		</div>
		<div class="divider"></div>
		<div>
			<a href="{{url_for('searchbycat')}}" style="text-decoration:none">
				<img src="{{ url_for('static', filename='img/browseby/browsebycolour.png') }}">		
				<div class="browseby-caption">
					<h4> Colour </h4>	
				</div>
			</a>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
$("#browseby img").hover(
function() {
$(this).animate({"opacity": "0.5"}, "fast");
},
function() {
$(this).animate({"opacity": "1"}, "fast");
});

});
</script>
{% endblock %}