{% extends "layout.html" %}
{% block title %}Data Summary{% endblock %}
{% block head %}
  {{ super() }}	
<script src="http://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

      	var scatterData = {{scatterData|safe}}

        var data = google.visualization.arrayToDataTable(scatterData);

        var options = {
          title: 'pH vs. Temp comparison',
          hAxis: {title: 'Temp', minValue: 0, maxValue: 100},
          vAxis: {title: 'pH', minValue: 0, maxValue: 10},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

{% endblock %}
{% block content %}

<div class="title">
		<h2> our science </h2>
	</div>

	<div class="background">
		<div class="row-fluid">
			<div class="span4">

				<div class="data_point">
				{% for name_val in values %}
					<h4 class="heading"> {{name_val['name']}} </h4>
					<div class="values clearfix">
					{% for values in name_val['values'] %}
					
					<p class='{{values["name"]}}'> {{values["value"]}}</p>
					
					{% endfor %}

					
				   	</div>
				{% endfor %}
			
			</div>

			

		</div>
		<div class="span8">
				<div id="chart_div" style="width: 670px; height: 500px;"></div>
			</div>
			<div class="span12">
				<script src="{{url_for('static',filename='js/d3-tip/d3-tip.js')}}"></script>
				<div id="newGraph">

				</div>
				<script>

var base = "{{url_for('samplesite',site_id='0')}}";	

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var cRadius = 5;
var cRadiusHover = 10;
var cBorder = 1;
var cBorderHover = 3;

var x = d3.scale.linear()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.category10();

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
	





var svg = d3.select("#newGraph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	
d3.csv("{{url_for('static',filename='ph_temp_sulfate.csv')}}", function(error, data) {
  data.forEach(function(d) {
    d.temperature = +d.temperature;
    d.pH = +d.pH;
  });

  x.domain(d3.extent(data, function(d) { return d.pH; })).nice();
  y.domain(d3.extent(data, function(d) { return d.temperature; })).nice();
  var max = d3.max(data, function(d) { return +d.sulfate;} );
	tip = d3.tip().attr('class', 'd3-tip').html(function(d) { return "pH:" + d.pH + " " + "Temp:" + d.temperature + " " + "Sulfate:"+d.sulfate + " " + "Colour:" + d.log});
	svg.call(tip)
	tip.offset([-10, 0])
  

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
      .attr("class", "label")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .text("pH");

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("class", "label")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Temperature")

  svg.selectAll(".dot")
      .data(data)
    .enter().append("circle")
      .attr("class", "dot")
      .attr("r", 5)
      .attr("cx", function(d) { return x(d.pH); })
      .attr("cy", function(d) { return y(d.temperature); })
	  .attr("title", function(d) { return "Test"})
	  .attr("stroke","black")
      .style("fill", function(d) { return "rgb(255,"+d.log+",0)" })	
	  .on("mouseover", function(d) {
			 d3.select(this).attr("r", 10)
			 .attr("stroke-width",cBorderHover);
			 tip.show(d);			 
	  })
	  .on("mouseout",  function(d) {
			d3.select(this).attr("r", 5)
			.attr("stroke-width",cBorder);
			tip.hide(d);
	  })
	  .on("click", function(d){
        var url = base + d.id
		
      
        window.open(url);    
    });
	  
	  

  var legend = svg.selectAll(".legend")
      .data(color.domain())
    .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

  legend.append("rect")
      .attr("x", width - 18)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

  legend.append("text")
      .attr("x", width - 24)
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .text(function(d) { return d; });

});

</script>
		
			</div>

	</div>
</div>

{% endblock %}
