 <!--<div class="footerPanel">
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 104px;">
                <div class="footerLink">
                    <a href="index.html"><span>Home</span></a>
                </div>
            </div>
        </div>
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 104px;">
                <div class="footerLink">
                    <a href="#FAQ"><span>FAQ</span></a>
                </div>
            </div>
        </div>
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 103px;">
                <div class="footerLink">
                    <a href="#About"><span>About Template</span></a>
                </div>
            </div>
        </div>
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 103px;">
                <div class="footerLink">
                    <a href="#Contact"><span>Contact</span></a>
                </div>
            </div>
        </div>
    </div>
	!-->
<div class="row-fluid" >
<div class="span2">
</div>
    <div class="span2">
     
    <p style="font-size:16px;"><span>about</span> project</p>
     
    <ul>
    <li><a href="#">safety</a></li>
    <li><a href="#">contact</a></li>
    <li><a href="#">facebook</a></li>
    </ul>
     
    </div>
     <div class="span1">
</div>
    <div class="span2">
     
    <p style="font-size:16px;"><span>search</span> springs</p>
     
    <ul>
    <li><a href="{{ url_for('searchbyimage')}}">simple</a></li>
    <li><a href="#">advanced</a></li>    
    </ul>
     
    </div>
          <div class="span1">
</div>
    <div class="span2">
     
    <p style="font-size:16px;"><span>browse</span> by </p>
     
    <ul>
    <li><a href="{{ url_for('searchbyimage')}}">image</a></li>
    <li><a href="#">location</a></li>
    <li><a href="{{ url_for('searchbycat')}}">colour/turbidity</a></li>
    </ul>
     
    </div>
              <div class="span2">
</div>
</div>
