 <!--<div class="footerPanel">
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 104px;">
                <div class="footerLink">
                    <a href="index.html"><span>Home</span></a>
                </div>
            </div>
        </div>
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 104px;">
                <div class="footerLink">
                    <a href="#FAQ"><span>FAQ</span></a>
                </div>
            </div>
        </div>
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 103px;">
                <div class="footerLink">
                    <a href="#About"><span>About Template</span></a>
                </div>
            </div>
        </div>
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 103px;">
                <div class="footerLink">
                    <a href="#Contact"><span>Contact</span></a>
                </div>
            </div>
        </div>
    </div>
	!-->
<div class="row-fluid" >

    <div class="span4">
     
    <h3><span>Browse</span> By </h3>
     
    <ul>
    <li><a href="{{ url_for('searchbyimage')}}">Image</a></li>
    <li><a href="#">Location</a></li>
    <li><a href="{{ url_for('searchbycat')}}">Colour</a></li>
    </ul>
     
    </div>
     
    <div class="span4">
     
    <h3><span>About</span> Project</h3>
     
    <ul>
    <li><a href="#">Safety</a></li>
    </ul>
     
    </div>
     
    <div class="span4">
     
    <h3><span>Search</span></h3>
     
    <ul>
    </ul>
     
    </div>
</div>
