 <!--<div class="footerPanel">
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 104px;">
                <div class="footerLink">
                    <a href="index.html"><span>Home</span></a>
                </div>
            </div>
        </div>
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 104px;">
                <div class="footerLink">
                    <a href="#FAQ"><span>FAQ</span></a>
                </div>
            </div>
        </div>
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 103px;">
                <div class="footerLink">
                    <a href="#About"><span>About Template</span></a>
                </div>
            </div>
        </div>
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 103px;">
                <div class="footerLink">
                    <a href="#Contact"><span>Contact</span></a>
                </div>
            </div>
        </div>
    </div>
	!-->
<div class="row-fluid">

    <div class="span4">
     
    <h3>Popular Accessories</h3>
     
    <ul>
    <li><a href="#">iPhone bluetooth headset</a></li>
    <li><a href="#">iPod Touch Battery Pack</a></li>
    <li><a href="#">In Car charger</a></li>
    <li><a href="#">All terrain laptop case</a></li>
    <li><a href="#">Blastout Speakers</a></li>
    </ul>
     
    </div>
     
    <div class="span4">
     
    <h3>Latest Products</h3>
     
    <ul>
    <li><a href="#">Macbook Air Rev. 3</a></li>
    <li><a href="#">16hr Lithium Battery</a></li>
    <li><a href="#">8GB RAM Upgrade kit</a></li>
    <li><a href="#">External 190GB SSD</a></li>
    <li><a href="#">Chillz Cooler</a></li>
    </ul>
     
    </div>
     
    <div class="span4">
     
    <h3>Editors Choice</h3>
     
    <ul>
    <li><a href="#">iPod Touch 16GB</a></li>
    <li><a href="#">Macbook Air</a></li>
    <li><a href="#">iBlazt Portable Speaker</a></li>
    <li><a href="#">TwiceLife Travel Kit</a></li>
    <li><a href="#">32GB Upgrade Kit</a></li>
    </ul>
     
    </div>
</div>
