{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}


  <script type="text/javascript">



 $(function () {
  $("#home").css("background-color" , "rgba(29,155,171,0.75)");
  $("#home img").attr("src","{{ url_for('static', filename='img/icons/home_Selected.png') }}");
  $("#home p").css("color","#ffffff");

});
  </script>


{% endblock %}
{% block content %}

<div class="title contrast" id="index">
  <h2>welcome</h2>
  <p> 
    Our project collects biodiversity information from 1,000 hot springs in and around Taupo.
    These springs are hotspots for unique populations of bugs and microbes about which we know very little.
    Here we make our research results accessible to the public.
  </p>

</div>


<div class="divider"></div>

<div id="myCarousel" class="carousel slide" >
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    	<img  src="{{ url_for('static', filename='img/carousel/searchbylocation.jpg') }}">
    	<div class="container">
            <div class="carousel-caption">
              <h4>browse by location</h4>            
            </div>
        </div>
    </div>
    <div class="item">
      <a href="{{ url_for('searchbycat')}}">
      <div id="cat-images">
         
        <img src="{{ url_for('static', filename='img/springsbycat/murkyhotspring.jpg') }}">
        <img style="padding:0 60px;" src="{{ url_for('static', filename='img/springsbycat/colouredhotspring.jpg') }}">
        <img src="{{ url_for('static', filename='img/springsbycat/clearhotspring.jpg') }}">

    	<div class="container">
        <div class="carousel-caption">
          <h4>browse by colour</h4>
        </div>
      </div>
    </div>
  </a>
  </div>   

    <div class="item">
      <a href="{{ url_for('searchbyimage')}}">
      <img src="{{ url_for('static', filename='img/carousel/searchbyimage.jpg') }}">
      <div class="container">
            <div class="carousel-caption">
              <h4>browse by image</h4>             
            </div>
        </div>
      </a>
    </div>

     <div class="item">
      <a href="{{ url_for('sotd')}}">
      <img src="{{ url_for('static', filename='img/carousel/carouselimage2.jpg') }}">
      <div class="container">
            <div class="carousel-caption">
              <h4>spring of the day</h4>             
            </div>
        </div>
      </a>
    </div>

    <div class="item">
      <a href="{{ url_for('simplesearch')}}">
      <img src="{{ url_for('static', filename='img/carousel/carouselimage2.jpg') }}">
      <div class="container">
            <div class="carousel-caption">
              <h4>search</h4>             
            </div>
        </div>
        </a>
    </div>

  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>










{% endblock %}





