{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}


  <script type="text/javascript">



 $(function () 
  {
  MenuSelect("#home","{{ url_for('static', filename='img/icons/home_Selected.png') }}");
  });


  </script>


{% endblock %}
{% block content %}
<!-- 
<div class="title contrast" id="index" style="">
  <h2>welcome</h2>
  <p> 
    Our project collects biodiversity information from 1,000 hot springs in and around Taupo.
    These springs are hotspots for unique populations of bugs and microbes about which we know very little.
    Here we make our research results accessible to the public.
  </p>

</div> -->

<div class="row-fluid">
 
    <div class="opaque" style="height:90px; position:relative;"> </div>
  

   <div class="bodytype span4 contrast" style="margin-left:0;" >
    
      <h2> welcome </h2>
        <p style="font-size:18px;"> 
    Our project collects biodiversity information from 1,000 hot springs in and around Taupo.
    These springs are hotspots for unique populations of bugs and microbes about which we know very little.
    Here we make our research results accessible to the public.
  </p>
    
    <div style="height:200px"></div>  
      


    </div>
 
   
  
</div>
<!-- <div class="span6" style="position:relative;" >
<div class="contrast"style="background-color: rgba(29,155,171,0.5); height:73px; width:522px; "> 

   </div> -->

  <div class="opaque" style="height:30px; position:relative;"> </div>











{% endblock %}





