<!doctype html>
<html>
  <head>

	
    {% block head %}
    

	<script type="text/javascript" src="{{ url_for('static', filename='js/jQuery/jquery-1.10.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>

    <title>{% block title %}{% endblock %} - 1000 Springs</title>
	
    {% endblock %}
   
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gns.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon_logo.ico') }}">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-3641432-37', 'auto');
	  ga('send', 'pageview');
	
	</script>

<!-- 	{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} -->

	

  </head>
<body > 
<div id="container">
	
	<div id="innerContainer">
		{% include "header.html" %}

		
	
		<div id="content" style="display:inline-block;width:100%">
				<img style="width:1024px;position:absolute; "src="{{ url_for('static', filename='img/nzhotsprings/background_old3.jpg') }}">
				<!-- <img style="width:144%;position:absolute;max-width:none; "src="{{ url_for('static', filename='img/nzhotsprings/background.jpg') }}"> -->
			
		
			{% block content %}
			{% endblock %}

		</div>
	
		<div id="footer">
			{% block footer %}
				{% include "footer.html" %}
			{% endblock %}
		</div>
	</div>
	
</div>


<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>
<script src="{{ url_for('static', filename='js/springs.js') }}"></script>
{% block js %}

{% endblock %}
</body>


</html>