<!doctype html>
<html>
  <head>

	
    {% block head %}
    

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	 <script type="text/javascript" src="{{ url_for('static', filename='layout.js') }}"></script>

    <title>{% block title %}{% endblock %} - Geothermal Database</title>
	
    {% endblock %}
   
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" >
	<link rel="stylesheet" href="{{ url_for('static', filename='gns.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon_logo.ico') }}">

	{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

	

  </head>
<body > 
<div id="container">
	
	<div id="innerContainer">
		{% include "header.html" %}

		
	
		<div id="content" style="display:inline-block;width:100%">
				<img style="width:1024px;position:absolute; "src="{{ url_for('static', filename='img/nzhotsprings/background.jpg') }}">
			
		
			{% block content %}
			{% endblock %}

		</div>
	
		<div id="footer">
			{% block footer %}
				{% include "footer.html" %}
			{% endblock %}
		</div>
	</div>
	
</div>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js')}}"></script>


</body>
</html>