<script>

$(function(){
 $('div.menuItem').tooltip({'placement': 'top'});
});

</script>


 {% if session.logged_in %}
	 <div id="logout" class="menuItem" >		
			<a style="text-decoration:none;"href="{{url_for('logout')}}">
				<div style="position:relative;height:34px;">
					<img style="height:34px;width:34px;position:absolute;margin-left:-17px;left:50%"src="{{ url_for('static', filename='img/icons/logout.png') }}">
				</div>
				<p style="color:#1D9BAB;">Logout</p>

			</a>
	</div>
{% else %}
	<div id="login" class="menuItem"  rel="tooltip" data-original-title="Authorised access">		
			<a style="text-decoration:none;"href="{{url_for('login')}}">
				<div style="position:relative;height:34px;">
					<img style="height:34px;width:34px;position:absolute;margin-left:-17px;left:50%"src="{{ url_for('static', filename='img/icons/login.png') }}">
				</div>
				<p style="color:#1D9BAB;">Login</p>

			</a>
	</div>
{% endif %}

<div id="about" class="menuItem" rel="tooltip" data-original-title="About the project">		
	<a style="text-decoration:none;" href="{{url_for('about')}}">

		<div style="position:relative;height:34px;">
			<img style="height:34px;width:34px;position:absolute;margin-left:-17px;left:50%"src="{{ url_for('static', filename='img/icons/about.png') }}">
		</div>
		<p style="color:#1D9BAB;"> About</p>

	</a>
</div>

{% if session.logged_in %}
	<div id="adsearch" class="menuItem" rel="tooltip" data-original-title="">		
		<a style="text-decoration:none;"href="{{url_for('search')}}">
			<div style="position:relative;height:34px;">
				<img style="height:34px;width:34px;position:absolute;margin-left:-17px;left:50%"src="{{ url_for('static', filename='img/icons/general.png') }}">
			</div>
			<p style="color:#1D9BAB;">Advanced</p>

		</a>
	</div> 
{% endif %}
	

	

<div id="search" class="menuItem" rel="tooltip" data-original-title="Search for springs by their characteristics">		
	<a style="text-decoration:none;"href="{{url_for('simplesearch')}}">

		<div style="position:relative;height:34px;">
			<img style="height:34px;width:34px;position:absolute;margin-left:-17px;left:50%"src="{{ url_for('static', filename='img/icons/search.png') }}">
		</div>
		<p style="color:#1D9BAB;"> Search </p>

	</a>
</div>
	
<div id="browse" class="menuItem" rel="tooltip" data-original-title="Find features by map or image">					
	<div class="dropdown">	
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<div style="position:relative;height:34px;">
				<img style="height:34px;width:34px;position:absolute;margin-left:-17px;left:50%" src="{{ url_for('static', filename='img/icons/browse.png') }}">
			</div>
		<p style="color:#1D9BAB;">Browse <b class="caret" style=""></b>  </p>
	
		</a>

			
		<ul class="dropdown-menu">
			<li> 
				<a href="{{url_for('mapsearch')}}">Location</a>
			</li>
			<li>
				<a href="{{url_for('searchbyimage')}}">Image</a>
			</li>						
		</ul>
	</div>		
</div>

<div id="ourScience" class="menuItem" rel="tooltip" data-original-title="Sampling and analysis">		
	<a style="text-decoration:none;"href="{{url_for('ourscience')}}">

		<div style="position:relative;height:34px;">
			<img style="height:34px;width:34px;position:absolute;margin-left:-17px;left:50%"src="{{ url_for('static', filename='img/icons/ourscience.png') }}">
		</div>
		<p style="color:#1D9BAB;"> Our Science </p>

	</a>
</div>

	
<div id="home" class="menuItem">		
	<a style="text-decoration:none;"href="{{url_for('index')}}">

		<div style="position:relative;height:34px;">
			<img style="height:34px;width:34px;position:absolute;margin-left:-17px;left:50%"src="{{ url_for('static', filename='img/icons/home.png') }}">
		</div>	
		<p style="color:#1D9BAB;"> Home </p>

	</a>
</div>


