{% extends "layout.html" %}
{% block title %}Our Science{% endblock %}
{% block head %}

	

  {{ super() }}

  <script type="text/javascript">
	
	$(function () 
	{		
		MenuSelect("#ourScience","{{ url_for('static', filename='img/icons/ourscience_Selected.png') }}");
		
	});
  </script>

{% endblock %}
{% block content %}

<div class="title">
<h2> our science </h2>
</div>



<div style="position:relative; background-color:white;padding:30px 20px;" class="textBlock">	


<p> Extremophiles are microorganisms that thrive in harsh environmental conditions - where temperatures can be as high as 120˚C, the pH can range from highly acidic to strongly alkaline, and there are elevated concentrations of salts and/or heavy metals. 

In this <a href="{{url_for('about')}}">research project</a>, we are collecting and analysing samples from New Zealand hotsprings to learn more about the microbial diversity and ecology of these extreme environments. 
</p>

<p>
Watch our videos to learn more:
</p>

<iframe style="margin:0 0 20px 0" width="420" height="315" src="//www.youtube.com/embed/VU-A6Sx7k-U" frameborder="0" allowfullscreen></iframe>
<p>
Sampling geothermal hotsprings – coming soon.
</p>

<p>
Next generation sequencing analysis – coming soon. 
</p>

<strong> External Links </strong>
<ul>
	<li><a href="http://www.gns.cri.nz/Home/Our-Science/Environment-Materials/Extremophiles">GNS Science Extremophiles Research Group</a></li>

	<li><a href="http://www.teara.govt.nz/en/life-in-hot-springs/page-1">Te Ara Encyclopedia – Life in hot springs</a></li>

<!-- 	<li>
		<a href="https://wiki.gns.cri.nz/Extremophiles"> GNS Extremophiles Page </a>
	</li>
	<li>	
		<a href="#"> UW Thermophiles Page </a>
	</li>
	<li>	
		<a href="#"> MBIE? </a>
	</li>
	<li>
		<a href="#"> What is a germ? </a>
	</li>
	<li>
		<a href="#"> What is a hotspring? </a>
	</li>
	<li>
		<a href="#"> Technical Things</a>
	</li> -->
</ul>
<div class="divider"></div>
</div>



{% endblock %}