{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='js/snapSVG/style.css')}}" type="text/css" />

  {{ super() }}

<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script> -->

<script type="text/javascript" src="{{ url_for('static', filename='js/jQuery/jquery.opacityrollover.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/maps.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/Vis/radialTree/d3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/samplesite.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/views/status.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/snapSVG/snap.svg-min.js') }}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>

<style>

span.units
{
	color: rgb(29,155,171);
	cursor: default;
}

</style>

<script type="text/javascript">	

	window.onload = function()
	{
		var tempMarkers = [{name:"Ice",value:0},
					   {name:"Human Body", value:37},
					   {name:"Scalding Water", value:55,height:2},
					   {name:"Pasteurization", value:67,height:3},
					   {name:"Boiling Water", value:100}];	

		var tempCategories = [];	

			
		var tempBar = ({svg:Snap("#tempBar"),
					length:250,
					x:50,
					y:10,
					max:100,
					current:{{sample_site.phys.initialTemp}},
					markers:tempMarkers,
					categories:tempCategories,
					step:10,
					warning:40,
					units:String.fromCharCode(186)+"C"});

		addProgressBar(tempBar);

		var phMarkers = [{name:"Stomach Acid",value:1},
						 {name:"Lemon Juice",value:2,height:2},
						 {name:"Vinegar",value:3,height:3},
						 {name:"Pure Water",value:6},
						 {name:"Spa Water",value:8,height:2},
						 {name:"Soap",value:10},
						 {name:"Ammonia",value:11, height:3},
						 {name:"Bleach",value:12}];


		var pHCategories = [];			

		var phBar = ({svg:Snap("#pHBar"),
					length:250,
					x:50,
					y:10,
					max:14,
					current:{{sample_site.phys.pH}},
					markers:phMarkers,
					categories:pHCategories,
					step:1,
					units:""});		
		
		addProgressBar(phBar);
	


	};

	$(function()
	{
		var sampleSiteMap = setupMap("show_map");		
		{% if sample_site.location.access != "PRIVATE" %}

		addInfoWindowMarker("{{sample_site.location.feature_system}}",
							"{{sample_site.location.lat}}",
							"{{sample_site.location.lng}}",
							"{{sample_site.location.feature_name}}",
							"{{sample_site.location.description}}",
							sampleSiteMap)		
		{% endif %}

		$('img').tooltip();
		$('span').tooltip();

		 $("svg circle, .inner").tooltip({
        'container': 'body',
        'placement': 'top'
    	});

		statusGraph("#status",{{statusPos}});


		$('.accordion').on('show hide', function (n) 
		{
			$(n.target).siblings('.accordion-heading').find('.accordion-toggle i').toggleClass('icon-chevron-up icon-chevron-down');
		});
	});


	
	</script>





{% endblock %}
{% block content %}



	<div class="title">

		<h2>{{sample_site.location.feature_name}}</h2>

	</div>

<div class="divider"></div>

<div class="row-fluid" style="position:relative;background-color:white;">
	<div class="span7">			
			
			<div>
			{% if sample_site.location.access == "PUBLIC_PAID" %}
				<p> <strong> Hot springs can cause serious injury and death. Follow the safety instructions.  Never climb over barriers and step off paths. </strong></p>
			{% endif %}
			
			{%if sample_site.location.access == "PRIVATE"%}
				<img rel="tooltip" style="width:10%;float:right" data-original-title="Private" src="{{ url_for('static', filename='img/icons/private.png') }}">
			{%endif%}

			<p>{{sample_site.location.description}}</p> 

			
			</div>
			
				
			<table class="descTable" >					
				<tr>
					<td>						
						<h5 style="margin-top:0px;" >Location: </h5> 
					</td>
					<td style="text-align:left;">						
							<p>{{sample_site.location.feature_system}}</p>
												
					</td>				
				</tr>

				<tr>
					<td>						
						<h5 style="margin-top:0px;" >Sample Number: </h5> 
					</td>
					<td style="text-align:left;">						
							<p>{{sample_site.sample_number}}</p>					
					</td>				
				</tr>

				<tr>
					<td>			
						<h5 style="margin-top:0px;" >Sample Date: </h5>
					</td>
					<td style="text-align:left;">
						<p class="muted">{{sample_site.date_gathered.strftime('%d-%m-%Y')}}</p>
					</td>
				</tr>
				<td>						
						<h5 style="margin-top:0px;" >Feature Type: </h5> 
					</td>
					<td style="text-align:left;">						
							<p>{{sample_site.location.feature_type}}</p>					
				</td>
				<tr>
					<td>			
						<h5 style="margin-top:0px;" >Temperature: </h5> 
					</td>
					<td style="text-align:left;" >					
							<svg width="400px" height="110px" id="tempBar"></svg>
						
					</td>					
				</tr>
				<tr>
					<td>			
						<h5 style="margin-top:0px;" >pH: </h5> 
					</td>
					<td style="text-align:left;" >					
							<svg width="400px" height="110px" id="pHBar"></svg>
						
					</td>					
				</tr>
				<tr>
					<td>			
						<h5 style="margin-top:0px;" >Size (approx): </h5> 
					</td>

					<td style="text-align:left;">						
						<p> {{sample_site.phys.size}}</p>
					</td>
				</tr>
				<tr>
					<td>			
						<h5 style="margin-top:0px;" >Ebullition: </h5> 
					</td>

					<td style="text-align:left;">						
						<p> {{sample_site.phys.ebullition|capitalize}}</p>
					</td>
				</tr>
				<tr>
					<td>			
						<h5 style="margin-top:0px;" >Oxidation Reduction <br> Potential: </h5> 
					</td>

					<td style="text-align:left;">						
						<p> {{sample_site.phys.redox}} <span class="units" rel="tooltip" data-original-title="Millivolts">mV</span> </p>
					</td>
				</tr>
				<tr>
					<td>			
						<h5 style="margin-top:0px;" >Conductivity: </h5> 
					</td>

					<td style="text-align:left;">						
						<p> {{sample_site.phys.conductivity}} <span class="units" rel="tooltip" data-original-title="Microsiemens per Centimeter">&#xB5;S/cm</span></p>
					</td>
				</tr>
				<tr>
					<td>			
						<h5 style="margin-top:0px;" >Dissolved Oxygen: </h5> 
					</td>

					<td style="text-align:left;">						
						<p> {{sample_site.phys.dO}} <span class="units" rel="tooltip" data-original-title="Milligrams per Litre">mg/L</span></p>
					</td>
				</tr>
				<tr>
					<td>			
						<h5 style="margin-top:0px;" >Turbidity: </h5> 
					</td>

					<td style="text-align:left;">						
						<p> {{sample_site.phys.turbidity}} <span class="units" rel="tooltip" data-original-title="Formazin Nephelometric Units">FNU</span></p>
					</td>
				</tr>
				<tr>
					<!-- <th colspan=2><strong> Would you like all this data? </strong> </th> -->
				</tr>
				<tr>
					<td> 
						<!-- <a href="{{url_for('download', site_id= sample_site.location_id)}}"> Download data</a> -->
					</td>
				</tr>

				<tr>
					<td colspan="2">
						<h4 style="text-align:center">Sample Site Status</h4>
					</td>		
				</tr>

				<tr>
								
					<td style="text-align:left" colspan="2"> 
						<svg  height="110px" id="status"></svg>
					</td>
				</tr>

		
			</table>
					
	</div>
		
		

<div class="span5">
	
		<div id="show_map"></div>
	

	<div class="divider"></div>
	<div style="margin-bottom:10px;margin-left:4px;">
		
		{% for image in sample_site.image %}
			{% if image.image_type == "BESTPHOTO" %}

				<img id="sampleSiteImg" src="{{image.image_path}}"/>	

			{% endif %}					
		{% endfor %}		
		
	</div>
</div>
		


	<div class="span12" style="margin:0">
		<div class="accordion" style="position:relative;background-color:white">
		    <div class="accordion-group">
		        <div class="accordion-heading"> 
		            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
		                <i class="icon-chevron-down"></i>
		                Chemical Composition of Sample
		            </a>
		        </div>
			    <div id="collapseOne" class="accordion-body collapse">
				    <div class="accordion-inner" id="bubbles">					
						{% if chemJson != None %}
						<h1> Chemical Composition of Sample</h1>
						<p> ppm: parts per million </p>
						
				       {% include "Vis/bubblechart/zoomable.html" %}
				       <div id="bubbleDesc">
				       	<figure>
				       	<p>The chemical bubble chart represents the measured chemical composition of this particular geothermal sample. The relative size of each bubble reflects the concentration of the named species (the larger the bubble, the higher the concentration and vice versa). The concentration of the chemical species in parts per million (ppm) which is equivalent to mg per litre can be visualised by holding the cursor in each bubble. </p>
				       	</figure>
				       </div>

				         {% else %}

				         	<h3>The chemistry data is coming soon</h3>	

				       	{% endif %}
				    </div>
			    </div>
		    </div>

		    <div class="accordion-group">
		        <div class="accordion-heading"> 
		            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		                <i class="icon-chevron-down"></i>
		                Microbial Diversity
		            </a>
		        </div>    
			    <div id="collapseTwo" class="accordion-body collapse">
				    <div class="accordion-inner" id="radialTree">
				       {% if taxJson != None %}
						<h1> Phylogenetic tree </h1>
						<p> hover over tree to read more </p>
				      {% include "Vis/radialTree/index.html" %}
				         {% else %}

				         	<h3>The Taxonomy data is coming soon</h3>	

				       	{% endif %}

				    </div>
			    </div>
		    </div>
		</div>
	</div>
</div>

	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <!--<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">Modal header</h3>
				  </div>!-->
				  <div class="modal-body">
					<div class="container">
							<div class="logincontent" >
							
									<div class="login-form">
										<h2>Login</h2>
										<form action="{{url_for('login')}}" method="post">
											<fieldset>							
													<input type="text" placeholder="Username" name="username" style="display:block" id="usernameTextbox">					
												
													<input type="password" placeholder="Password" name="password" style="display:block">
													<input type="hidden" name="site_id" value="{{sample_site.location_id}}">	

													<button class="btn btn-primary" type="submit">Login</button>
											</fieldset>

										</form>

											{% if error%}						
											<div class="alert" id="alert">
												<button type="button" class="close" data-dismiss="alert">&times;</button>
												<p id="alertMessage"> {{error}} </p>
											</div>
											{% endif %}

									</div>
								
							</div>
						</div>
				  </div>
				<!--  <div class="modal-footer">
				  	
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				  </div> !-->
				</div>




{% endblock %}