{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  {% endblock %}


{% block content %}

<div style="height:73px;position:relative;background-color:rgba(29,155,171,0.5); ">
</div>

<div style="position:relative; padding-left:40px; background:#fff;">


<ul class="thumbnails">
  


{% for image in images %}

	<li class="span2">
    	<a href="{{url_for('samplesite', site_id=image.site_id)}}" class="thumbnail">
      		<img data-src="holder.js/160x120" src="{{url_for('static', filename=image.imagepath)}}">
    	</a>
	</li>

{% endfor %}


</ul>
</div>


  {% endblock %}