{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}


	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>

	<script type="text/javascript">

	$(function()
	{
	MenuSelect("#browse","{{ url_for('static', filename='img/icons/browse_Selected.png') }}");
		$("#browse .caret").css("border-top","4px solid white");
});


	</script>


{% endblock %}
{% block content %}


<div class="title">
	<h2> browse by colour </h2>
</div>


<div style="height:5px;position:relative;background-color:rgb(255,255,255)">

</div>

<div style="position:relative; height:606px; background:#fff;" >
<div class="cat" style="float:left;">
<img src="{{ url_for('static', filename='img/springsbycat/colouredhotspring.jpg')}}" style="height:577px;" >
<p class="lead" style="text-align:center;background-color:rgba(29,155,171,0.75);">Coloured Pools </p>
</div>

<div class="cat" style="float:left;padding:0 78px;">
<img src="{{ url_for('static', filename='img/springsbycat/clearhotspring.jpg')}}"
style="height:577px;"  >
<p  class="lead" style="text-align:center;background-color:rgba(29,155,171,0.75)">Clear Pools </p>
</div>

<div class="cat" style="float:left;">
<img src="{{ url_for('static', filename='img/springsbycat/murkyhotspring.jpg')}}"
style="height:577px;"    >
<p class="lead" style="text-align:center;background-color:rgba(29,155,171,0.75);">Murky Pools </p>
</div>
</div>
<div style="height:5px;position:relative;background-color:rgb(255,255,255)"> </div>

<div style="height:73px;position:relative;background-color:rgba(29,155,171,0.5); ">
</div>
<script type="text/javascript">
$(document).ready(function(){
$(".cat img").hover(
function() {
$(this).animate({"opacity": "0.5"}, "fast");
},
function() {
$(this).animate({"opacity": "1"}, "fast");
});

});
</script>
{% endblock %}