{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/maps.js') }}"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='iThing.css')}}" />
<script src="{{url_for('static', filename='js/jquery-ui.custom.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jQEditRangeSlider-min.js') }}"></script>

<script type="text/javascript">

 $(function () 
 {
   MenuSelect("#search","{{ url_for('static', filename='img/icons/search_Selected.png') }}");
 });

</script>

<style>
input[type=checkbox],#minTemp,#maxTemp {
display: none;
}
</style>
{% endblock %}
{% block content %}
<div class="row-fluid">
 <div class="title">
      <h2> search for springs </h2>
    </div>
   <div class="bodytype span6 contrast" style="padding-top:15px;" >

       <form action="{{ url_for('simpleresults', filter='city')}}">
      <div style="background-color:rgba(29,155,171,0.75);padding:10px;border-radius:10px">
      <table style="width:100%">
         <tr>
            <th style="text-align:left"> Location </th>
         </tr>
         <tr>
            <td>              
                  
                  {{form.city}}             
            </td>
         </tr>
         <tr>            
            <th style="text-align:left; "> Filters </th>
         </tr>
         <tr class="filterIcons">
            <td>
               <div style="margin: 0 0 20px;">
                  <!-- <img rel="tooltip" data-original-title="Benches" src="{{ url_for('static', filename='img/icons/bench_Selected.png') }}">               
                  <img rel="tooltip" data-original-title="Private" src="{{ url_for('static', filename='img/icons/private_Selected.png') }}">               
                  <img rel="tooltip" data-original-title="Toilet" src="{{ url_for('static', filename='img/icons/toilet_Selected.png') }}">               
                  <img rel="tooltip" data-original-title="Track" src="{{ url_for('static', filename='img/icons/track_Selected.png') }}">    -->

                  {{form.hidden_tag()}}
                  <div class="filterImage">                    
                    {{form.toilet}} 
                    <label for="toilet"><img rel="tooltip" data-original-title="Toilet" src="{{ url_for('static', filename='img/icons/toilet_Selected.png') }}"></label>
                  </div>
                  <div class="filterImage">              
                    {{form.bench}} 
                    <label for="bench"><img rel="tooltip" data-original-title="Bench" src="{{ url_for('static', filename='img/icons/bench_Selected.png') }}"></label>
                  </div>
                  <div class="filterImage">           
                    {{form.private}} 
                    <label for="private"><img rel="tooltip" data-original-title="Private" src="{{ url_for('static', filename='img/icons/private_Selected.png') }}"></label>
                  </div>
                  <div class="filterImage">           
                    {{form.track}} 
                    <label for="track"><img rel="tooltip" data-original-title="track" src="{{ url_for('static', filename='img/icons/track_Selected.png') }}"></label>
                  </div>
                  
               </div>
            </td>
         </tr>
         <tr>
            <th style="text-align:left;margin:10px 0"> Temperature </th>
            
         </tr>
         <tr>
            <td>     
               <div style="margin:15px 0" id="slider"></div>
                {{form.minTemp}} {{form.maxTemp}}
            </td>                    
         </tr>
         <tr>
            <td align=center>
               <div class="btn-group">                  
                  <a class="btn" id="safe">Safe</a>
                  <a class="btn" id="unsafe">Unsafe</a>
                  <a class="btn" id="hottest">Hottest</a>               
               </div>
            </td>
         </tr>
         <tr>
            <td ></td>
         </tr>
<!--          <tr>
            <th style="text-align:left"> Misc <br> </th>
         </tr>
         <tr>
            <td>
               <p>
               <div class="btn-group" >
                  <a class="btn" href="{{url_for('simpleresults',filter='Unique')}}">Unique</a>
                  <a class="btn" href="{{url_for('simpleresults',filter='All')}}">All</a>
               </div>
            </td>
         </tr> -->
      </table>

    </div>
 <input type="submit" value="Search" class="btn btn-large colourClick" style="margin:35px 0 0 40%;  width: 100px;height: 100px;  border-radius: 50px;">
   
   </form>
</div>
<!-- <div class="span6" style="position:relative;" >
<div class="contrast"style="background-color: rgba(29,155,171,0.5); height:73px; width:522px; "> 

   </div> -->
  </div>
</div>
 <div style="background-color: rgba(29,155,171,0.75); height:30px; opacity: 0.7;  "> </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/views/simplesearch.js') }}"></script>
{% endblock %}