{% extends "layout.html" %}
{% block title %}Results{% endblock %}
{% block head %}
  {{ super() }}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/views/simpleresults.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/maps.js') }}"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	
	<script type="text/javascript">
	
	var max = 100;
    var min = 0;
	function loadMarkers()
	{
		{% for pos in entries %}		
			addInfoWindowMarker("{{pos.city}}", "{{pos.lat}}", "{{pos.lng}}", "{{pos.feature_name}}", "{{pos.desc}}", mainMap);
		{% endfor %}
	}

	window.onload=function()
	{
		initializeMaps();
		
		loadMarkers();
		$("#minTemp").val({{minTemp}});
		$("#maxTemp").val({{maxTemp}});
		$('i').tooltip();
		$('img').tooltip();
	};

	 $(function () 
 {
  MenuSelect("#search","{{ url_for('static', filename='img/icons/search_Selected.png') }}");
 });

	 $(function()
{
  $('.filterImage input').change(function()
  {
      if($(this).is(':checked'))
      {      
        $(this).siblings('label').children().animate(
          {
            "opacity": "1"
          }, "fast");
      }
      else
      {
        $(this).siblings('label').children().animate(
          {
            "opacity": "0.6"
          }, "fast");
      }
  });
});

function presetTemp(id,low,high)
{
  $(id).click(function()
   {
    
    $("#minTemp").val(low);
    $("#maxTemp").val(high);
   });  
}

//Setting up preset temperature ranges
$(function()
{

presetTemp("#safe",min,35);
presetTemp("#unsafe",35,max);
presetTemp("#hottest",Math.ceil(max*0.90),max);
var expanded = false;
$("#expandGraph").click(function() 
	{
		
		if(expanded === false)
		{
			expanded = true;
			$("#map_canvas").parent().css("display","none");
			$("#chart_div").css("height","500px");
			$("#chart_div").css("width","760px");
			chart.draw(data,options)
			$(this).attr("value", "Shrink Graph");
			
		}
		else
		{
			expanded = false;
			$("#map_canvas").parent().css("display","block");
			$("#chart_div").css("height","233px");
			$("#chart_div").css("width","100%");
			chart.draw(data,options)
			$(this).attr("value", "Enlarge Graph");
			
		}
	}); 

});
	var chart;
	var data;
	var options;

	google.load("visualization", "1", {packages:["corechart"]});

    google.setOnLoadCallback(drawChart);
      function drawChart() 
      {
      	var raw = []

      	raw.push(["Range","Count"]);

      	{% for slice in pieChart %}
      		raw.push(["{{slice.range}}",{{slice.count}}]);
      	{% endfor %}

        data = google.visualization.arrayToDataTable(raw);

        options = 
        {
          title: 'Hot Spring Temperatures',
          chartArea: {left:5,top:20, height:"100%", width:"100%"},
          colors:["#FFE71E","#EDAD16","#DC730F","#CB3907","#ba0000"],
          backgroundColor: 'transparent'

        };
        
        chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

</script>

	

<style>

#minTemp,#maxTemp
{
width:30px; 
display:inline;
}

input[type=checkbox]
{
	display: none;
}


</style>		
{% endblock %}
{% block content %}
<div class="contrast" style="height:73px;position:relative;background-color:rgba(29,155,171,0.5); ">
<h2 style="padding:25px 15px 0 15px; margin:0; float:left; ">Springs</h2>
<div align="right">
	<input type="button" value="Enlarge Map" id="expandMap" style="margin:37px 5px 0 0">	
	<input type="button" value="Enlarge Graph" id="expandGraph" style="margin:37px 5px 0 0">	
</div>
</div>

<div style="height:5px;position:relative;background-color:rgb(255,255,255)">

</div>
	


<div class="span3 bodytype contrast" style="height:676px;">	
	

	<form action="{{url_for('simpleresults')}}">
		<table>
		<tr>
			<th style="text-align:left;padding:10px 0"> Location </th>
		</tr>
		<tr>
			<td>{{form.city}}</td>
		</tr>

		<tr>	
		<th style="text-align:left;padding:15px 0"> Filters </th>
		</tr>	
			<tr>
				<td>					
					
				</td>
			</tr>
			<tr>
			<th style="text-align:left;padding:25px 0"> Temperature </th>
			</tr>
			<tr>
				<td>				
					<p style="display:inline;"> Between </p> 
					{{form.minTemp}} 

					<p style="display:inline;"> and </p> 
					{{form.maxTemp}}				
				</td>
			</tr>
			<tr>
				<td>
					<div class="btn-group">                  
                  <a class="btn" id="safe">Safe</a>
                  <a class="btn" id="unsafe">Unsafe</a>
                  <a class="btn" id="hottest">Hottest</a>               
               		</div>
               	</td>
			</tr>			
		</table>
		<input type="submit" value="Search" class="btn btn-small colourClick" style="margin:35px 0 0 30%;  width: 75px;height: 75px;  border-radius: 38px;">
		</form>

		 
</div>

	
	
<div class="span10" style="position: relative; margin-left:0px; padding:0 0 0 0px; background:#fff">

<div class="span3">
	<div id="map_canvas" style="height: 233px; overflow:hidden"></div>
</div>	

<div class="span3">
	<div id="chart_div" style="width: auto; height: auto;"></div>
</div>	

<div style="height:5px;position:relative;background-color:rgb(255,255,255)">

</div>
	<table class="table" >
				{% for entry in entries %}
		<tr>
			<td>
				<div class="span2">
					<img style="padding-top:10px" src="{{ url_for('static', filename=entry.imagepath) }}">

				</div>
				<div class="span5">
					<ul class="unstyled">
						<li>	<h4 class="feature_name" style="margin-bottom:0"> {{entry.feature_name}} </h4></li>
						<li> <p><em> {{ entry.city }} </em></p> </li>
						


						<li><div style="overflow:hidden; height:automatic" >
							{{ entry.desc}}
						</div></li>
					</ul>
				</div>
			</td>
			<td>
				<div class="row-fluid">

					
					<div style="margin-top:10px;">
						
						<p style="text-align:right"> Temp: {{ entry.temp}} </p>
					</div>

					<div style=" margin:5px 0 5px 5px; display:block;" class="contrast smallIcons">
						{% if entry.toilet %}
							<img src="{{url_for('static',filename='img/icons/results_list/toilet.png')}}" rel="tooltip" data-original-title="Toilets available" >
						{% endif %}
						{% if entry.track %}
							<img src="{{url_for('static',filename='img/icons/results_list/track.png')}}" rel="tooltip" data-original-title="Walking track available" >
						{% endif %}
						{% if entry.parkbench %}
							<img src="{{url_for('static',filename='img/icons/results_list/bench.png')}}" rel="tooltip" data-original-title="Park benches available">
						{% endif %}
						{% if entry.private %}
							<img src="{{url_for('static',filename='img/icons/results_list/private.png')}}" rel="tooltip" data-original-title="Private Property" >
						{% endif %}
			
					</div>
					<div style="float:right;">
						<a href="{{url_for('samplesite',site_id=entry.location_id)}}" class="btn" style="display:block; margin:10px 0;" > More Details</a>

						<input type="hidden" value="{{entry.lat}},{{entry.lng}}">

						<!-- Button to trigger modal -->
						<a href="#myModal" role="button" class="btn" data-toggle="modal" onclick="modalInit.call(this);" style="display:block; ">Show on Map</a>
					</div>
				
				</div> 
				
			</td>
		</tr>
		
		{% else %}

		<tr>
		<td> <em>Unbelievable.  No entries here</em> </td>
		</tr>
		{% endfor %}
	</table>
</div>
</div>

<!-- Modal -->
				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">Modal header</h3>
				  </div>
				  <div class="modal-body">
					<script type="text/javascript">
						
					</script>
					
					<div id="show_map" style="float:none"></div>
				  </div>
				  <div class="modal-footer">
				  	
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				  </div>
				</div>



{% endblock %}	