{% if error %}	
	<h4 class="taxonDetailsError">Summary unavailable</h4>
	<a class="taxonDetailsWikiLink" target="_blank" href="{{googleUrl}}">Google search</a>
{% else %}
	<div class="taxonDetailsSummary">
		{% if rank is not none or imageUrl is not none %}
		<div class="taxonDetailsHeader" >
				{% if imageUrl is not none %}<img  class="taxonDetailsImage" src="{{imageUrl}}" />{% endif %}
			<div class="taxonDetailsHeaderText">
				{% if rank is not none %}<span class="taxonDetailsRankLabel">Rank:</span><span class="taxonDetailsRank">{{rank}}</span>{% endif %}
			</div>		
		</div>
		{% endif %}
		<p class="taxonDetailsDescription">{{description}}</p>
		{% if wikiUrl is not none %}<a class="taxonDetailsWikiLink" target="_blank" href="{{wikiUrl}}">Wikipedia</a>{% endif %}	
		<a class="taxonDetailsWikiLink" target="_blank" href="{{googleUrl}}">Google search</a>
	</div>
{% endif %}