 <!--<div class="footerPanel">
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 104px;">
                <div class="footerLink">
                    <a href="index.html"><span>Home</span></a>
                </div>
            </div>
        </div>
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 104px;">
                <div class="footerLink">
                    <a href="#FAQ"><span>FAQ</span></a>
                </div>
            </div>
        </div>
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 103px;">
                <div class="footerLink">
                    <a href="#About"><span>About Template</span></a>
                </div>
            </div>
        </div>
        <div class="footerMenuItem">
            <div style="float: left; margin-left: 103px;">
                <div class="footerLink">
                    <a href="#Contact"><span>Contact</span></a>
                </div>
            </div>
        </div>
    </div>
	!-->